:host {
  display: block;
  padding-left: 32px;
}

.card-container {
  /*align-content: center;*/
  display: flex;
  flex-flow: row wrap;
}

md-card {
  /*width: 400px;*/
  width: 90%;
  box-sizing: border-box;
  margin: 10px 0px 0px 0px;
  /*z-index: -99;*/
}