md-sidenav-layout {
  background: rgba(0,0,0,0.03);
}

md-nav-list{
  /*width: 125px;*/
  padding: 40px 0 0 0;
  display: block;
  /*margin-left: 20px;*/
}

md-nav-list p{
  line-height: 40px;
}

.sd-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.sd-icon-button {
  box-shadow: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.sd-toolbar-title{
font-size: 22px;
}

.sd-toolbar-filler {
  flex: 1 1 auto;
}

more {
  background: url("./assets/svg/more.svg");
  float: right;
  height: 24px;
  margin-top: 2px;
  width: 24px;
}
