<div class="card-container">
  <md-card *ngFor="let event of events" (click)="select(event)">
      <md-card-subtitle>Subtitle</md-card-subtitle>
      <md-card-title><md-icon md-list-icon>event</md-icon>&nbsp;{{event.title}}</md-card-title>
      <hr/>
      <md-card-content class="secondary">
        <p>
          {{event.description}}
        </p>
      </md-card-content>
      <img md-card-image src="http://www.bridging-it.de/_tech/img/bit-logo_mit_claim_cmyk_96dpi_freigestellt.png">
  </md-card>
</div>

