<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="DataContext" providerName="System.Data.SqlClient"
      connectionString=""
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <source name="EventFeedback.Web" switchValue="Error" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <source name="EventFeedback.Common" switchValue="Error" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <source name="EventFeedback.Domain" switchValue="Error" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <source name="">
        <listeners>
          <add name="xmlfile" xdt:Transform="RemoveAll" xdt:Locator="Match(name)"  />
          <add name="eventlog" xdt:Transform="RemoveAll" xdt:Locator="Match(name)"  />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <!--<add name="xmlfile" type="System.Diagnostics.XmlWriterTraceListener" initializeData="EventFeedback.Web.svclog" />-->
      <!--<add name="eventlog" type="System.Diagnostics.EventLogTraceListener" initializeData="EventFeedback.Web" traceOutputOptions="Timestamp, Callstack" />-->
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="Off" xdt:Transform="Replace">
    </customErrors>
  </system.web>
</configuration>