<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default active badge">All</button>
        <button type="button" class="btn btn-default badge">C#</button>
        <button type="button" class="btn btn-default badge">Java</button>
        <button type="button" class="btn btn-default badge">SAP</button>
      </div>
    </div>
  </div>
  <div class="list-group js-sessions">
    <!-- sessions -->
  </div>
  <p>{{model.description}}</p>
  
  <div class="row">
    <div class="col-xs-7">&nbsp;</div>
    <div class="col-xs-5">
      <a class="btn btn-lg btn-primary js-report" href="#">
        <span class="glyphicon glyphicon-list"></span>&emsp;Report
      </a>
    </div>
  </div>
</div>