<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="form" class="well"></div>
    </div>
  </div>

  <div class="row pull-right">
    <div class="col-xs-12">
      <br/>
      <button class="btn btn-danger btn-responsive js-remove">
        <span class="glyphicon glyphicon-remove"></span>&emsp;{{resources.Text_Remove}}
      </button>
      <button class="btn btn-success btn-responsive js-submit">
        <span class="glyphicon glyphicon-save"></span>&emsp;{{resources.Text_Save}}
      </button>
    </div>
  </div>
</div>