<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group pull-right" data-toggle="buttons">
        <label class="btn btn-primary badge">
          <input type="radio" class="js-tag" name="tags" value="">&nbsp;&nbsp;
          </input>
        </label>
        {{#each tags}}
        {{#if this.name}}
        <label class="btn badge">
          <input type="radio" class="js-tag" name="tags" value="{{this.name}}">{{this.name}}</input>
        </label>
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
  <div class="list-group js-sessions">
    <!-- sessions -->
  </div>
  <p>{{model.description}}</p>

  <div class="row">
    <div class="col-xs-7">&nbsp;</div>
    <div class="col-xs-5">
      <a class="btn btn-lg btn-success js-report" href="#">
        <span class="glyphicon glyphicon-list"></span>&emsp;Report
      </a>
    </div>
  </div>
</div>