<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-primary badge js-tag" value="">&nbsp;<&nbsp;</button>
        {{#each tags}}
        <button type="button" class="btn btn-default badge js-tag {{#ifCond ../activetag this.name}}active{{/ifCond}}" value="{{this.name}}">{{this.name}}</button>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="list-group js-sessions">
    <!-- sessions -->
  </div>
  <p>{{model.description}}</p>

  <div class="row">
    <div class="col-xs-7">&nbsp;</div>
    <div class="col-xs-5">
      <a class="btn btn-lg btn-primary js-report" href="#">
        <span class="glyphicon glyphicon-list"></span>&emsp;Report
      </a>
    </div>
  </div>
</div>