<div>
  <div class="glyphicon glyphicon-bookmark"></div>
    &emsp;&emsp;<strong>{{title}}</strong>
</div>
<div class="glyphicon glyphicon-time">
  &emsp;{{dateFormat startDate format="DD.MM.YYYY"}}
</div>