<div id="wrapper">

  <div id="header" class="container"></div>
  <div class="page-content inset">
    <div id="content" class="container"></div>
  </div>

  <hr/>
  <div id="footer" class="container"></div>

</div>