<div class="card-container">
  <md-card>
    <md-card-title-group>
      <md-icon md-list-icon>account_circle</md-icon>
      <md-card-title>Login</md-card-title>
      <md-card-subtitle>Please enter your credentials</md-card-subtitle>
    </md-card-title-group>
    <md-card-content>
      <form #form="ngForm">
        <md-input placeholder="Username" [(ngModel)]="userName" ngControl="userName" required></md-input>
        <md-input placeholder="Password" [(ngModel)]="password" ngControl="password" required type="password"></md-input>
        <div>
          <md-checkbox indeterminate="true" [(ngModel)]="remember">Remember me</md-checkbox>
        </div>
      </form>
    </md-card-content>
    <md-card-actions align="end">
      <button (click)="onSubmit()" md-fab color="accent" [disabled]="!form.valid" type="submit">
          <md-icon>done</md-icon>
      </button>
    </md-card-actions>
  </md-card>
</div>
valid/pristine: {{form.valid}}/{{form.pristine}} <br/>
