<div class="navbar navbar-inverse navbar-fixed-top">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav js-headers">
      <!-- <li class="sidebar-brand">
        <a id="menu-toggle" href="#">&nbsp;&nbsp;&nbsp;&nbsp; -->
          <!-- <span class="glyphicon glyphicon-align-justify"></span> -->
        <!-- </a>
      </li> -->
      <!-- headers -->
    </ul>
  </div>

  <!-- Page header -->
  <div id="page-content-wrapper">
    <div class="content-header row">
      <div class="col-xs-2 col-md-1">
        <a id="menu-toggle" href="#" class="btn btn-primary pull-left">
           <span class="glyphicon glyphicon-align-justify"></span>
        </a>
      </div>
      <div class="col-xs-7 col-md-9">
        <div>
          <div class="content-header-title js-apptitle"></div>
          <div class="content-header-subtitle">
            <span class="" id="js-subtitle-glyph">
              <span id="js-subtitle"></span>
            </span>
          </div>
        </div>
      </div>
      <div class="col-xs-1 col-md-1" style="margin-top:27px">
        <span id="spinner"></span>
      </div>
      <div class="col-xs-2 col-md-1">
        <a id="menu-back" href="#" class="btn btn-default pull-right">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>
    </div>
  </div>
</div>

<!--
  <div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://brunch.io">Brunch</a>
    </div>
    <div class="navbar-collapse collapse no-transition">
      <ul class="nav navbar-nav">
      </ul>
    </div>
  </div>
</div> -->