<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <h3>App</h3>
      <p>
        <a class="btn btn-lg btn-success" href="https://github.com/vip32/eventfeedback/tree/master/Web.App" target="_blank">
          <i class="icon-circlegithub"></i>
          &emsp;Sources
        </a>
      </p>
      <ul>
        <li>Backbone 1.1.0</li>
        <li>Underscore 1.5.2</li>
        <li>Twitter Bootstrap 3.0.0</li>
        <li>MarionetteJS 1.2.2</li>
        <!--<li>MomentJS 2.2.1</li>-->
        <li>jQuery 2.0.3</li>
        <li>JQuery RateIt 1.0.19</li>
        <li>Fastclick 0.6.10</li>
        <li>Pace 0.4.15</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Api</h3>
      <p>
        <a class="btn btn-lg btn-success" href="https://github.com/vip32/eventfeedback/tree/master/Web.Api" target="_blank">
          <i class="icon-circlegithub"></i>
          &emsp;Sources
        </a>
      </p>
      <ul>
        <li>Microsoft .Net 4.5, C#</li>
        <li>Microsoft ASP.NET Web API 2</li>
        <li>Microsoft Entity Framework 6.0</li>
        <li>Microsoft ASP.NET Identity 1.0</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <h3>Dev</h3>
      <ul>
        <li>
          <a href="https://github.com/WindowsAzure" target="_blank">Windows Azure</a>
        </li>
        <li>
          <a href="https://github.com/joyent/node" target="_blank">Node.js</a>
        </li>
        <li>
          <a href="https://github.com/brunch/brunch" target="_blank">Brunch</a>
        </li>
        <li>
          <a href="https://github.com/jashkenas/coffee-script" target="_blank">Coffeescript</a>
        </li>
        <li>
          <a href="https://github.com/bower/bower" target="_blank">Bower</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      &nbsp;
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <!--<img src="http://qrfree.kaywa.com/?l=1&s=8&d=https%3A%2F%2Feventfeedback.azurewebsites.net" alt="QRCode"/>-->
      <p>
        <a href="/">
          <img class="qr" height="88" width="88"/>
        </a>
      </p>
    </div>
    <div class="col-md-6">
      <p>
        <a class="btn btn-lg btn-success js-signout" href="#">
          <i class="icon-user"></i>
          &emsp;Signout
        </a>
      </p>
      <p>
        <a class="btn btn-lg btn-success js-reset" href="#">
          <i class="icon-bomb"></i>
          &emsp;Reset</a>
      </p>
      <p>
        <span class="glyphicon glyphicon-user">&emsp;user: {{user}}/ role: {{roles}}/ admin: {{admin}}/ auth: {{auth}}</span>
      </p>
    </div>
  </div>
</div>