<div class="container">
  <p>
    <h3>App</h3>
    <ul>
      <li>Backbone 1.1.0</li>
      <li>Underscore 1.5.2</li>
      <li>Twitter Bootstrap 3.0.0</li>
      <li>MarionetteJS 1.2.2</li>
      <li>MomentJS 2.2.1</li>
      <li>jQuery 2.0.3</li>
      <li>JQuery RateIt 1.0.19</li>
      <li>Fastclick 0.6.10</li>
      <li>Pace 0.4.15</li>
    </ul>
    <a class="btn btn-lg btn-primary" href="https://github.com/vip32/eventfeedback/tree/master/Web.App">App sources</a>
  </p>
  <p>
    <h3>Api</h3>
    <ul>
      <li>C#</li>
      <li>Microsoft Web Api 2</li>
      <li>EntityFramework 6.0</li>
    </ul>
    <a class="btn btn-lg btn-primary" href="https://github.com/vip32/eventfeedback/tree/master/Web.Api">Api sources</a>
  </p>
  <p>
    <!--<img src="http://qrfree.kaywa.com/?l=1&s=8&d=https%3A%2F%2Feventfeedback.azurewebsites.net" alt="QRCode"/>-->
    <img src="../images/qr.png" alt="qr"/>  
  </p>
</div>