#wrapper {
  padding-left: 188px;
  transition: all 0.1s ease 0s;
}

#sidebar-wrapper {
  margin-top: 61px;
  margin-left: -188px;
  left: 188px;
  width: 188px;
  background: #2986b9;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.1s ease 0s;
  /*opacity: 0.9;*/

  -webkit-box-shadow: 1px 0px 1px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 0px 1px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 0px 1px rgba(50, 50, 50, 0.75);
}

#page-content-wrapper {
  width: 100%;
}

#page-content-wrapper .btn{
  font-size: 24px;
}

#page-content-wrapper h1, h2{
  color: #FFFFFF;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 188px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #FFFFFF;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav .active{
  text-decoration: none;
  background-color: #90BFD8;
}

.sidebar-nav > .sidebar-brand {
  height: 56px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #FFFFFF;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 10px;
}

.content-header {
  height: 50px;
  /*line-height: 55px;*/
  margin-top: 5px;
}

.content-header h1 {
  margin: 0;
  margin-top: 5px;
  margin-left: 5px;
  /*line-height: 65px;*/
  display: inline-block;
  font-size: 2em;
}

.content-header-title {
  font-size:1.5em;
  margin-top: -5px;
  display: block;
  color: #FFF;
}

.content-header-subtitle {
    font-size:1.1em;
    margin-top: -5px;
    display: block;
    color: #DBDBDB;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {

  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    margin-top: 61px;
    left: 0;
  }

  #wrapper.active {
    position: relative;
    left: 188px;
  }

  #wrapper.active .page-content{
    opacity: 0.4;
  }

  #wrapper.active #sidebar-wrapper {
    left: 188px;
    width: 188px;
    transition: all 0.1s ease 0s;
  }

  #menu-toggle {
    display: inline-block;
    margin-left: -5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  #menu-back {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .inset {
    padding: 15px;
  }
}