<p>
  <button type="button" id="js-add" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-plus"></span>
  </button>
  <button type="button" id="js-refresh" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-refresh"></span>
  </button>
  <button type="button" id="js-save" class="btn btn-success btn-lg">
    <span class="glyphicon glyphicon-save"></span>
  </button>
</p>

<p>
  <div class="container" id="js-table">
    <!-- table here -->
  </div>
</p>

<p>
  <button type="button" id="js-add" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-plus"></span>
  </button>
  <button type="button" id="js-refresh" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-refresh"></span>
  </button>
  <button type="button" id="js-save" class="btn btn-success btn-lg">
    <span class="glyphicon glyphicon-save"></span>
  </button>
</p>