<div class="container">
  <form class="form-horizontal noprint" role="form">
    <div class="form-group">
      <label for="amount" class="col-sm-4 control-label">Organization</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name="organization" id="organization" disabled placeholder=""></input>
      </div>
    </div>
    <div class="form-group">
      <label for="roles" class="col-sm-4 control-label">Account role</label>
      <div class="col-sm-8">
        <select name="roles" id="roles" class="form-control">
          <option value=""></option>
          {{#each roles}}
          <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="amount" class="col-sm-4 control-label">Account names</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name="accountnames" id="accountnames" placeholder="user1; user2; ..."></input>
        <!--<span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
      </div>
    </div>
    <div class="form-group">
      <label for="amount" class="col-sm-4 control-label">Random accounts amount</label>
      <div class="col-sm-8">
        <select name="amount" id="amount" class="form-control">
          <option value=""></option>
          <option value="1">1</option>
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        <!--<span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
      </div>
    </div>
    <div class="form-group">
      <label for="message" class="col-sm-4 control-label">Active</label>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-xs-6">
            <input type="date" class="form-control" name="activefrom" id="activefrom" placeholder="from"></input>
          </div>
          <div class="col-xs-6">
            <input type="date" class="form-control" name="activetill" id="activetill" placeholder="till"></input>
          </div>
        </div>
        <!--<span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
      </div>
    </div>
    <div class="form-group">
      <label for="prefix" class="col-sm-4 control-label">Account prefix</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name="prefix" id="prefix" placeholder=""></input>
        <!--<span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
      </div>
    </div>
    <div class="form-group">
      <label for="message" class="col-sm-4 control-label">Additional message</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name="message" id="message" placeholder=""></input>
        <!--<span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
      </div>
    </div>
    
    <div class="form-group">
      

      <div class="col-sm-offset-4 col-sm-8 pull-right">
        <br/>
        <button type="button" id="js-generate" class="btn btn-success btn-responsive">
          <span class="glyphicon glyphicon-user"></span>&emsp;Generate
        </button>
        <button type="button" id="js-clear" class="btn btn-default btn-responsive">
          <span class="glyphicon glyphicon-refresh"></span>&emsp;Clear
        </button>
        <button type="button" id="js-print" class="btn btn-default btn-responsive">
          <div class="glyphicon glyphicon-print"></div>&emsp;Print
        </button>
      </div>
    </div>
  </form>
  <div class="list-group" id="js-users">
    <!-- users -->
  </div>
  <iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
</div>

