<div>
  <!--<div class="glyphicon glyphicon-user"></div>-->

  <div class="row">
    <div class="col-xs-6">
      <h3 style="color: #000000;">{{model.userName}}&emsp;/&emsp;{{model.password}}</h3>
    </div>
    <div class="col-xs-6">
      <img src="images/qr.png" height="88" width="88"/>
    </div>
    <div class="col-xs-6"></div>
  </div>
  <a href="https://eventfeedback.azurewebsites.net">https://eventfeedback.azurewebsites.net</a>
</div>
