<div class="container">
  <div class="jumbotron">
    <h3>Debug</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>To see the difference between static and fixed top navbars, just scroll.</p>
    <form>
      <input type="number" data-max="5" data-min="1"
             name="your_awesome_parameter1" id="some_id1" class="rating" value="2" />
      <textarea></textarea>

      <input type="number" data-max="5" data-min="1"
             name="your_awesome_parameter2" id="some_id2" class="rating" value="1" />
      <textarea></textarea>
      <br/>
      <input type="text" name="event" placeholder="event"/>
      <button class="js-triggerevent">trigger</button>
    </form>
  </div>
</div>