<div id="wrapper">

  <div id="header" class="container"></div>
  <div class="page-content inset">
    <div id="content" class="container"></div>
  </div>
  <div id="messagebox"></div>
  <hr/>
  <div id="footer" class="container"></div>
  <div id="preload">
    <img src="/www/images/qr.png" width="1" height="1" alt="qr" />
    <img src="/www/images/star.gif" width="1" height="1" alt="star" />
    <img src="/www/images/delete.gif" width="1" height="1" alt="star" />
    <img src="/www/images/star_full_32.png" width="1" height="1" alt="starfull" />
    <img src="/www/images/star_empty_32.png" width="1" height="1" alt="starempty" />
  </div>
</div>