<div class="container">
  <div class="jumbotron">
    <h3>Contacts</h3>
    <div class="list-group js-contacts">
      <!-- contacts -->
    </div>

    <form class="form-contact" role="form">
        <div class="row">
          <div class="col-xs-0 col-md-4"></div>
          <div class="col-xs-12 col-md-5">
            <input type="text" class="form-control" name="firstName" placeholder="Enter firstname">
            <input type="text" class="form-control" name="lastName" placeholder="Enter lastname">
          </div>
          <div class="col-xs-0 col-md-3"></div>
        </div>
        <div class="row">
          <div class="col-xs-0 col-md-4"></div>
          <div class="col-xs-7 col-md-3">
            <button class="btn btn-lg btn-success btn-block js-add">Add</button>
          </div>
          <div class="col-xs-5 col-md-2">
            <button class="btn btn-lg btn-danger btn-block js-reset">Reset</button>
          </div>
          <div class="col-xs-0 col-md-3"></div>
        </div>
    </form>
  </div>
</div>