<div class="container">
  <div class="row">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-default active badge">All</button>
      <button type="button" class="btn btn-default badge">C#</button>
      <button type="button" class="btn btn-default badge">Java</button>
      <button type="button" class="btn btn-default badge">SAP</button>
    </div>
  </div>
  <div class="list-group js-sessions">
    <!-- sessions -->
  </div>
  <p>{{model.description}}</p>
</div>