<div class="container">
    <div class="btn-group pull-right" style="margin-right:15px;">
      <button type="button" class="btn btn-default active btn-group-lg">All</button>
      <button type="button" class="btn btn-default btn-group-lg">C#</button>
      <button type="button" class="btn btn-default btn-group-lg">Java</button>
      <button type="button" class="btn btn-default btn-group-lg">SAP</button>
    </div><br/><br/>
  <div class="jumbotron">
    <div class="list-group js-events">
      <!-- events -->
    </div>
  </div>
</div>