<div class="container">
  <div class="jumbotron">
    <h3>Event: {{title}} {{description}}</h3>

    <div class="list-group js-sessions">
      <!-- sessions -->
    </div>
    <a href="#events">< Events</a>
  </div>
</div>